<a href="https://colab.research.google.com/github/JatinFulra/Big-Data/blob/main/Assignment2_12-feb-24_202301024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

dataset = {
    "tid": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
    "refund": ["yes", "no", "no", "yes", "no", "no", "yes", "no", "yes", "yes"],
    "martial status": ["single", "married", "single", "married", "divorced", "single", "married", "single", "married", "divorced"],
    "taxable income": ["115k", "115k", "115k", "115k", "115k", "115k", "115k", "115k", "115k", "115k"],
    "cheat": ["No", "No", "No", "No", "yes", "No", "No", "No", "No", "yes"]
}

df = pd.DataFrame(dataset)
print(df)

  tid refund martial status taxable income cheat
0   1    yes         single           115k    No
1   2     no        married           115k    No
2   3     no         single           115k    No
3   4    yes        married           115k    No
4   5     no       divorced           115k   yes
5   6     no         single           115k    No
6   7    yes        married           115k    No
7   8     no         single           115k    No
8   9    yes        married           115k    No
9  10    yes       divorced           115k   yes

In [2]:
rows = [0, 4, 7, 8]
located_rows = df.iloc[rows]
print(located_rows)

  tid refund martial status taxable income cheat
0   1    yes         single           115k    No
4   5     no       divorced           115k   yes
7   8     no         single           115k    No
8   9    yes        married           115k    No

In [3]:
df  = pd.read_csv("/content/data.csv")

In [4]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]